@page "/gas"
@using System.Text.Json.Serialization

<PageTitle>Gas</PageTitle>

<h1>Gas</h1>

<table class="table">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Gas Meter [m3]</th>
        <th>Extracted Image Data</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
        @if (_isLoading)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var gasRecord in _gasRecords)
            {
            <tr>
                <td>@gasRecord.Timestamp</td>
                <td>@gasRecord.Value</td>
                <td>@gasRecord.ValueRaw</td>
                <td><img src="@gasRecord.ImageUrl"/></td>
            </tr>
        }
    }
    </tbody>
</table>

@code {
    private List<GasRecordDto> _gasRecords = new List<GasRecordDto>();
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        try
        {

            using var client = new HttpClient();
            var records = await client.GetFromJsonAsync<List<GasRecordDto>>("https://homecontrolfunctions.azurewebsites.net/api/GetGasRecords?");
            _gasRecords = records.OrderByDescending(r => r.Timestamp).ToList();
        }
        catch (Exception ex)
        {
            _gasRecords = new List<GasRecordDto>();
        }

        _isLoading = false;
    }

    public class GasRecordDto
    {
        public int Id { get; set; }

        public DateTime Timestamp { get; set; }

        public int? Value { get; set; }

        public string ValueRaw { get; set; }

        public string Image { get; set; }

        [JsonIgnore]
        public string ImageUrl => $"data:image/jpg;base64,{Image}";
    }
}
